{% extends 'base.html' %}
{% block body %}

  <div class='container'>
        <div class='row'>
        <div class="col-md-10 col-md-offset-1">
        <div class="serach-all">
        <ul id="menu-pricing" class="menu-price">
        {% if query %}
                "<b>{{ query }}</b>" araması için bulunan sonuçlar.
                <hr/>
        {% endif %}


        {% for obj in object_list %}

            {% include 'products/snippets/card-et.html' with instance=obj%}
{#            {% include 'home.html' with instance=obj%}#}

{#            <a href= "{{ obj.get_absolute_url }}"> {{ obj.title }}</a><br/>#}
        {% endfor %}
       </ul>
    </div>
        </div>
        </div>
    </div>

{% endblock %}
