{% extends 'base.html' %}
{% load tz %}
{% block body %}
<div class="container" id="sayfa-icerik">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="pr-gra-wrapper">
                <ul id="pr-gra-list" class="clearfix">
                    <li id="data" class="filter" data-filter="all">Tüm Grafikler</li>
                    <li id="data" class="filter" data-filter=".graf1">Grafik 1</li>
                    <li id="data" class="filter" data-filter=".graf2">Grafik 2</li>
                    <li id="data" class="filter" data-filter=".graf3">Grafik 3</li>
                    <li id="data" class="filter" data-filter=".graf4">Grafik 4</li>
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Grafik Seçimi
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <li class="filter" data-filter="all"><a class="dropdown-item">Tüm Grafikler</a></li>
                            <li  class="filter" data-filter=".graf1"><a class="dropdown-item">Grafik 1</a></li>
                            <li class="filter" data-filter=".graf2"><a class="dropdown-item">Grafik 2</a></li>
                            <li  class="filter" data-filter=".graf3"><a class="dropdown-item">Grafik 3</a></li>
                            <li  class="filter" data-filter=".graf4"><a class="dropdown-item">Grafik 4</a></li>
                        </div>
                    </div>
                </ul>
            </div>
        </div>
    </div>
</div>

    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div id="spec-graph-area">
                    <div class="graf-all">
                <div id="menu-pricing" class="menu-price">
                    <li class="item graf1">

                        <div class="grap-all">
                            <div class="grap-content">
                                <div class="grap-title"><h3>En Çok Satılan Ürünler</h3></div>
                                <div class="grap-wri"><p> </p> </div>
                            </div>
                            <div class="dat-graph"><canvas class="cfe-render-chart chart-container" id="product" data-type="product" height="300"></canvas></div>
                        </div>
                    </li>

{#                        {% for order in today.recent|slice:":5" %} <li>Sipraiş #{{ order.order_id }} <br/>{{ order.total }} TL <br/>{{ order.updated|timesince }} önce</li>{% endfor %}#}


                    <li class="item graf2">

                        <div class="grap-all">
                            <div class="grap-content">
                                <div class="grap-title"><h3>Önceki 4 hafta hasılat({% if last_four_weeks.recent_data.total__sum %}({{ last_four_weeks.recent_data.total__sum }} TL){% endif %})</h3></div>
                                <div class="grap-wri"><p>Bu alana içeriğin detayları</p></div>
                            </div>
                            <div class="dat-graph"><canvas class="cfe-render-chart chart-container" id="fourWeekSales" data-type="4weeks" height="280"></canvas></div>
                        </div>
                    </li>


                    <li class="item graf3">

                        <div class="grap-all">
                            <div class="grap-content">
                                <div class="grap-title"><h3>Günlük Hasılat {% if today.recent_data.total__sum %} ({{ today.recent_data.total__sum }} TL){% endif %}</h3></div>
                                <div class="grap-wri"><p>{% for order in today.recent|slice:":5" %} Sipraiş {{ order.order_id }} <br/>{{ order.total }} TL <br/>{{ order.updated|timesince }} önce{% endfor %}</p></div>
                            </div>
                            <div class="dat-graph"><canvas class="cfe-render-chart chart-container" id="thisWeekSales" data-type="week" height="300"></canvas></div>
                        </div>
                    </li>

                    <li class="item graf4">

                        <div class="grap-all">
                            <div class="grap-content">
                                <div class="grap-title"><h3>Bu hafta en çok satılan ürünler</h3></div>
                                <div class="grap-wri"><p>Bu alana içeriğin detayları</p></div>
                            </div>
                            <div class="dat-graph"><canvas class="cfe-render-chart chart-container" id="productWeekSales" data-type="product-week" height="300"></canvas></div>
                        </div>
                    </li>

                </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

                            <!-- <div class="text-center">
                                    <a id="loadPricingContent" class="btn btn-middle hidden-sm hidden-xs">Load More <span class="caret"></span></a>
                            </div> -->

{#        <div class="container" id="sayfa-icerik">#}
{#    <div class="row">#}
{#        <div class="col-md-10 col-md-offset-1">#}
{#        <h1 class="sayfa-title">Günün Yemekleri</h1>#}
{#            <div class="pr-gra-wrapper">#}
{#                                        <ul id="pr-gra-list" class="clearfix">#}
{#                                            <li id="data" class="filter" data-filter="all">Grafik 1</li>#}
{#                                            <li id="data"  class="filter" data-filter=".grafik2">Grafik 2</li>#}
{#                                            <li id="data"  class="filter" data-filter=".grafik3">Grafik 3</li>#}
{#                                            <li id="data"  class="filter" data-filter=".grafik4">Grafik 4</li>#}
{#                                            <li id="data"  class="filter" data-filter=".grafik5">Grafik 5</li>#}
{#<div class="dropdown">#}
{#  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">#}
{#    Yemek Kategorisi Seç#}
{#  </button>#}
{#  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">#}
{#      <li class="filter" data-filter="all"><a class="dropdown-item">Tüm Ürünler</a></li>#}
{#      <li  class="filter" data-filter=".grafik1"><a class="dropdown-item">Ana Yemekler</a></li>#}
{#      <li class="filter" data-filter=".grafik2"><a class="dropdown-item">Yan Ürünler</a></li>#}
{#      <li  class="filter" data-filter=".grafik3"><a class="dropdown-item">Çorbalar</a></li>#}
{#      <li  class="filter" data-filter=".grafik4"><a class="dropdown-item">Tatlılar</a></li>#}
{#  </div>#}
{#</div>#}
{##}
{##}
{#                                            <div class='container'>#}
{#        <div class='row'>#}
{#        <div class="col-md-10 col-md-offset-1">#}
{#        <div class="urun-all">#}
{#        <ul id="menu-pricing" class="menu-price">#}
{#            <li class="grafik1">a#}
{##}
{#            </li>#}
{#            <li class="grafik2">b#}
{#                 <div id="gra1" class="dat-graph"><canvas class="cfe-render-chart" id="product" data-type="product" width="400" height="400"></canvas></div>#}
{#            </li>#}
{##}
{#            <li class="grafik3">c#}
{#                <div id="gra2" class="dat-graph"><canvas class="cfe-render-chart chart-container" id="fourWeekSales" data-type="4weeks" width="400" height="400"></canvas></div>#}
{#            </li>#}
{#            <li class="grafik4">d</li>#}
{#            <li class="grafik5">e</li>#}
{#        </ul>#}
{#        </div>#}
{#        </div>#}
{#        </div>#}
{#    </div>#}
{#                    </div>#}
{#    </div>#}
{##}
{##}

{#    <div class='container'>#}
{#        <div class='row'>#}
{#            <div class="urun-all">#}
{#                <h1>Satış Analizleri</h1>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}


{#    <div class='container'>#}
{#        <div class='row'>#}
{#            <div class="urun-all">#}
{#            <h1>Satış Analizleri</h1><hr/>#}
{##}
{#                <div class="col-md-5">#}
{#                <h2>Bugün satışlar</h2><hr/>#}
{#                    <h3>Son siparişler {% if today.recent_data.total__sum %} ({{ today.recent_data.total__sum }} TL){% endif %}</h3>#}
{#                    <ul>#}
{#                        {% for order in today.recent|slice:":5" %} {# |slice:":5" #}
{#                            <li>Sipraiş #{{ order.order_id }} <br/>#}
{#                            {{ order.total }} TL <br/>#}
{#                            {{ order.updated|timesince }} önce</li>#}
{#                        {% endfor %}#}
{#                    </ul>#}
{##}
{#        <div class="col-md-10">#}
{#         <h2>Bu hafta satışlar</h2><hr/>#}
{#                <h3>Son siparişler {% if this_week.recent_data.total__sum %} ({{ this_week.recent_data.total__sum }} TL){% endif %}</h3>#}
{#            <ul>#}
{#                {% for order in this_week.recent|slice:":5"%} {# |slice:":5" #}
{#                     <li>Sipraiş #{{ order.order_id }}<br/>#}
{#                         {{ order.total }} TL <br/>#}
{#                         {{ order.updated|timesince }} önce</li>#}
{#                {% endfor %}#}
{#            </ul>#}
{#        </div>#}
{#                </div>#}

{##}
{#                <div class="col-md-5">#}
{#                    <canvas class="cfe-render-chart chart-container" id="thisWeekSales" data-type="week" width="400" height="400"></canvas>#}
{#                </div>#}
{##}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{##}
{#<hr/>#}
{#{{ state.state__count }}#}
{#            {{ state_count.state__count }}#}

{#    <div class='container'>#}
{#        <div class='row'>#}
{#    <div class="urun-all">#}
{##}
{#    </div>#}
{#            /</div>#}
{#    </div>#}
{##}
{#    <div class='container'>#}
{#        <div class='row'>#}
{#    <div class="urun-all">#}
{##}
{##}
{#        <div class="padd3">#}
{#        <h3> Teslim edilen {% if this_week.shipped_data.total__sum %}({{ this_week.shipped_data.total__sum}} TL) {% endif %}</h3>#}
{#        <ol>#}
{#            {% for order in this_week.shipped|slice:":5" %}#}
{#               <li> {{ order.order_id }}    --#}
{#                {{ order.total }}           --#}
{#                {{ order.updated }}</li>#}
{#            {% endfor %}#}
{#        </ol>#}
{#        </div>#}
{#        <div class="padd3">#}
{#        <h3> Gelir {% if this_week.paid_data.total__sum %} ({{ this_week.paid_data.total__sum }} TL) {% endif %} </h3>#}
{#        <ol>#}
{#            {% for order in this_week.paid|slice:":5" %}#}
{#               <li>{{ order.order_id }} --#}
{#                {{ order.total }}           --#}
{#                {{ order.updated }}</li>#}
{#            {% endfor %}#}
{#        </ol>#}
{#        </div>#}
{#    </div>#}
{#        </div>#}
{#    </div>#}


{#    <div class='container'>#}
{#        <div class='row'>#}
{#    <div class="urun-all">#}
{#        <h2>Önceki 4 hafta satışlar</h2>#}
{#        <div class="col-md-5">#}
{#                <h5>Son siparişler {% if last_four_weeks.recent_data.total__sum %}({{ last_four_weeks.recent_data.total__sum }} TL){% endif %}</h5>#}
{#                <h5> Teslim edilen {% if last_four_weeks.shipped_data.total__sum %}({{ last_four_weeks.shipped_data.total__sum}} TL){% endif %}</h5>#}
{#                <h5> Gelir {% if last_four_weeks.paid_data.total__sum %} ({{ last_four_weeks.paid_data.total__sum }} TL){% endif %}</h5>#}


{#            <ol>#}
{#                {% for order in last_four_weeks.recent|slice:":5" %}#}
{#                    <li>{{ order.order_id }}    --#}
{#                    {{ order.total }}           --#}
{#                    {{ order.updated }}</li>#}
{#                {% endfor %}#}
{#            </ol>#}
        </div>

{#        <div class="padd3">#}
{#        <h3> Teslim edilen {% if last_four_weeks.shipped_data.total__sum %}({{ last_four_weeks.shipped_data.total__sum}} TL){% endif %}</h3>#}
{#        <ol>#}
{#            {% for order in last_four_weeks.shipped|slice:":5" %}#}
{#               <li> {{ order.order_id }}    --#}
{#                {{ order.total }}           --#}
{#                {{ order.updated }}</li>#}
{#            {% endfor %}#}
{#        </ol>#}
{#        </div>#}
{#        <div class="padd3">#}
{#        <h3> Gelir {% if last_four_weeks.paid_data.total__sum %} ({{ last_four_weeks.paid_data.total__sum }} TL){% endif %} </h3>#}
{#        <ol>#}
{#            {% for order in last_four_weeks.paid|slice:":5" %}#}
{#               <li>{{ order.order_id }} --#}
{#                {{ order.total }}           --#}
{#                {{ order.updated }}</li>#}
{#            {% endfor %}#}
{#        </ol>#}
{#        </div>#}
{#                <div class="col-md-5">#}
{#                    <canvas class="cfe-render-chart chart-container" id="fourWeekSales" data-type="4weeks" width="400" height="400"></canvas>#}
{#                </div>#}
{#    </div>#}
{#        </div>#}
{#    </div>#}

{#   <div class='container'>#}
{#        <div class='row'>#}
{#    <div class="urun-all">#}
{##}
{#            <div class="col-md-5">#}
{#                <h2>Adres satışlar</h2><hr/>#}
{#                    <h3>Buca</h3>#}
{#                    {{ state.state__count }}#}
{#                    {{ state_count.state__count }}#}
{#            </div>#}
{#                <div class="col-md-5 chart-container">#}
{#                    <canvas class="cfe-render-chart" id="product" data-type="product" width="400" height="400"></canvas>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#   </div>#}

{#     <div class="container">#}
{##}
{#        <div class="padd2">#}
{#            <h1>Son siparişler</h1>#}
{#        <ol>#}
{#            {% for order in recent_orders %}#}
{#                <li>{{ order.order_id }}#}
{#                {{ order.total }}#}
{#                {{ order.updated }}</li>#}
{#            {% endfor %}#}
{#        </ol>#}
{##}
{#     </div>#}
{#    </div>#}
{#     <div class="container">#}
{##}
{#        <div class="padd2">#}
{#        <h1>Teslim edilen</h1>#}
{#        <ol>#}
{#            {% for order in shipped_orders %}#}
{#               <li> {{ order.order_id }}#}
{#                {{ order.total }}#}
{#                {{ order.updated }}</li>#}
{#            {% endfor %}#}
{#        </ol>#}
{#        </div>#}
{#    </div>#}
{#     <div class="container">#}
{#        <div class="padd2">#}
{#        <h1>Ödenen</h1>#}
{#        <ol>#}
{#            {% for order in paid_orders %}#}
{#               <li>{{ order.order_id }}#}
{#                {{ order.total }}#}
{#                {{ order.updated }}</li>#}
{#            {% endfor %}#}
{#        </ol>#}
{#        </div>#}
{#    </div>#}

{% endblock %}