{% extends 'base.html' %}
{% block body %}
<style>
        nav#template-navbar {
            display: none;
        }
   </style>
{% if not object.shipping_address %}
    {% url "checkout_address_create" as checkout_address_create %}
    {% include "addresses/form.html" with form=address_form next_url=request.build_absolute_uri title="Teslimat Adresi" action_url=checkout_address_create address_type='shipping' %}
{% elif not object.billing_address %}
    {% url "checkout_address_create" as checkout_address_create %}
    {% include "addresses/form.html" with form=address_form next_url=request.build_absolute_uri title="Fatura Adresi" action_url=checkout_address_create address_type='billing' %}
    {% else %}

        <div class="container">
            <div class="sip-log">
            <div class="sip-log-title">
                <h3>Sepeti Onayla</h3>
            </div>
            <div class="sip-log-content">
                <p><b>Sipariş Kodu: </b>{{ object.order_id }} -- {{ object.cart }}</p>
                <p><b>Sepet: </b>{% for product in object.cart.products.all %}{{ product }}{% if not forloop.last %}, {% endif %}{% endfor %} </p>
                <p><b>Adres: </b>{{ object.shipping_address.get_address }} </p>
        {#            <p><b style="color: blue;">Sepet Toplamı: </b>{{ object.cart.total }}</p>#}
        {#            <p><b>Kurye Toplamı: Yok  </b></p> {# {{ object.shipping_total }} #}
                    <p><b style="color: blue">Sipariş Toplamı: </b>{{ object.total }}</p>
                <form class="form" method="POST" action="">{% csrf_token %}
                    <button type="submit" class="btn btn-primary">Onayla</button>
                </form>
            </div>
            </div>
        </div>
    {% endif %}

{% endblock %}